<div>
<p>Galería de imágenes interactivas cuyos estilos sean
extraídos de una plantilla que contiene HTML, CSS y JavaScript. 
Esta plantilla se puede conseguir en el siguiente 
<a href="https://html5up.net/lens" target="_blank">LINK.</a>
</p>
</div>